# Minimum Python version required: 3.7
opencv-python==4.5.3.56
fer==22.4.0
matplotlib==3.4.3
tensorflow==2.11.0
mtcnn==0.1.1
numpy==1.21.6
absl-py==1.0.0
flatbuffers==2.0
typing-extensions==4.5.0


# pip install opencv-python-headless
# pip install wheel setuptools
# python -m venv myenv   / myenv\Scripts\activate



